* {
    background: #E5E5E5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo {
    margin-left: 10px;
    padding-top: 10px;
    width:2%;
}
.h1{
    margin-right: 10px;
    padding-top: 10px;
    width:2%; 
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.texto-digita {
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
}
::placeholder { color: #0A3871; }
  .texto-digita:focus {
      outline: none;
    }

.mensagem {
    background: white;
    background-image: url("/assets/menino.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 15px;
    padding-left: 20px;
    position: fixed;
    
}
.mensagem:focus {
    outline: none;
}
.botoes {
    display: flex;
    margin-top: 18px;
}

.bt-criptografar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.bt-descriptografar {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.nenhumamens{
    background: none;
    text-align: center;
    font-size: 71%;
    border: none;
    height: 67px;
    margin-left: 108px;
    margin-top: 300px;
    position: absolute;
    width: 336px;
}
.menscodificada{
    background: none;
    text-align: center;
    font-size: 60%;
    border: none;
    height: 67px;
    margin-left: 108px;
    margin-top: 370px;
    position: absolute;
    width: 336px;
}
.bt-copiar {
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 430px;
    position: absolute;
    width: 336px;
}

.rodape{
    color: #0A3871;
    text-align: center;
    font-size: 30%;
    
}
    




